/* reset browser styles */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;
}
ol { 
	padding-left: 1.4em;
	list-style: decimal;
}
ul {
	padding-left: 1.4em;
	list-style: square;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} 
/* end reset browser styles */

* {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}


/* Сложное подключение шрифта
стандартный способ в некоторых браузерах не работал */

@font-face {
    font-family: 'PTSans';
    src: url('fonts/PTSansRegular.woff2') format('woff2'),
         url('fonts/PTSansRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PTSans';
    src: url('fonts/PTSansItalic.woff2') format('woff2'),
         url('fonts/PTSansItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'PTSans';
    src: url('fonts/PTSansBold.woff2') format('woff2'),
         url('fonts/PTSansBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'PTSans';
    src: url('fonts/PTSansBoldItalic.woff2') format('woff2'),
         url('fonts/PTSansBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

/* cyrillic-ext */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(https://fonts.gstatic.com/s/ptsans/v8/JX7MlXqjSJNjQvI4heMMGvY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(https://fonts.gstatic.com/s/ptsans/v8/vtwNVMP8y9C17vLvIBNZI_Y6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(https://fonts.gstatic.com/s/ptsans/v8/9kaD4V2pNPMMeUVBHayd7vY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(https://fonts.gstatic.com/s/ptsans/v8/ATKpv8nLYAKUYexo8iqqrg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


/* General */

#main-container {
    font-family: 'PT Sans', Helvetica, sans-serif;
}
body {
    border: 0 solid rgba(0,0,0,0);
    font-size: 100%;
    margin: 0;
    padding: 0;
    min-height: 100%;
}
a {
    cursor: pointer;
}
header {
    border-bottom: 1px solid #204080;
    padding-bottom: 20px;
    width: 100%;
    margin: 0;
    display: inline-block;
}
nav ul li {
    list-style: none;
}
nav a {
    text-decoration: none;
}
h3 {
    font-size: 1.15rem;
    margin-bottom: 0.75rem;
}
h4 {
    margin-bottom: 0.75rem;
}
p {
    margin-bottom: 0.5rem;
}
footer {
    background: #A6CAF0;
    clear: both;
    margin: 0;
    position: relative;
    bottom: 0;
}
.inline-block {
    display: inline-block;
}
.btn {
    background: rgb(0, 148, 255);
    border: 2px solid rgba(0,0,0,0);
    border-radius: 20px;
    color: rgba(255,255,255,.9);
    text-decoration: none; 
}
.btn:hover {    
    background: rgba(0, 148, 255, 0.7);
    border: 2px solid rgba(0, 0, 0, .3);
    color: rgba(0, 0, 0, .7);
    transition: background-color 400ms, border-color 400ms;
    -webkit-transition: background-color 400ms, border-color 400ms;
}
.btn:active {    
    background: rgb(0, 148, 255);
    border: 2px solid rgba(0,0,0,0.3);
    color: white;
}

/* Header content */
/* navigation */
.header__logo {
    display: inline-block;
    position: relative;
}
#header__logo {
    width: 200px;
    vertical-align: top;
}
.header__content {
    display: inline;
    position: absolute;
    margin: 20px 0 20px 20px;
    padding-top: 20px;
}
.header__nav {
    display: inline-block;
    position: relative;
    vertical-align: top;
}
.header__nav__li {
    margin: 8px 4px 0 0;
    position: relative;
}
.header__nav__drp-dwn-list_i1,
.header__nav__drp-dwn-list_i2 {
	display: none;
    position: absolute;
    top: 0;
    background: #fff;
	border: 1px solid rgba(0, 0, 0, 0.3);
    z-index: 1;
}
.header__nav__drp-dwn-list_i1 {
	width: 250%;
}
.header__nav__drp-dwn-list_i2 {
	width: 80%;
}
.header__nav__drp-dwn-list-top1,
.header__nav__drp-dwn-list-top2 {
    padding: 3px 10px 4px;
}
.header__nav__drp-dwn-list-top2 {
	position: relative;
}
.header__nav__drp-dwn-list-top1:hover .header__nav__drp-dwn-list_i1,
.header__nav__drp-dwn-list-top2:hover .header__nav__drp-dwn-list_i2 {
	display: block;
    padding: 2px;
}
.header__nav__drp-dwn-list-top1:hover .header__nav__drp-dwn-list_i1 {
	top: 100%;
}
.header__nav__drp-dwn-list-top2:hover .header__nav__drp-dwn-list_i2 {
    left: 100%;
}
ul.header__nav__drp-dwn-list_i1 li {
    padding: 5px 0; 
}
.nav__a {
    display: block;
    color: rgb(0, 127, 127);
    font-size: 20px;
    padding: 2px 5px 2px;
    width: 100%;
}
.nav__a:hover {
    background: rgb(0, 127, 127);
    color: white;
}
.header__search-form {
    margin: 0 10px 10px 15px;
    vertical-align: top;
}
.header__search-box {
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 5px;
    height: 50px;
    width: 300px;
    color: rgb(0, 127, 127);
    font-family: 'PT Sans', Helvetica, sans-serif;
    font-size: 25px;
}
.header__search-box:focus {
    border: 1px solid rgb(0, 148, 255);
    box-shadow: 0 0 10px rgb(0, 148, 255);
}
.header__search-box:hover {
    border: 1px solid rgb(0, 148, 255);
}


/* Плюшки плэйсхолдера */

.header__search-box::-webkit-input-placeholder {
    color: #A6CAF0;
}
.header__search-box::-moz-placeholder {
    color: #A6CAF0;
}
.header__search-box:-moz-placeholder {
    color: #A6CAF0;
}
.header__search-box:-ms-input-placeholder {
    color: #A6CAF0;
}
.header__search-box::placeholder {
    color: #A6CAF0;
}
.header__search-box::-webkit-input-placeholder {
    text-indent: 0px;
    transition: text-indent 0.8s ease;
}
.header__search-box::-moz-placeholder {
    text-indent: 0px;
    transition: text-indent 0.8s ease;
}
.header__search-box:-moz-placeholder {
    text-indent: 0px;
    transition: text-indent 0.8s ease;
}
.header__search-box:-ms-input-placeholder {
    text-indent: 0px;
    transition: text-indent 0.8s ease;
}
.header__search-box:focus::-webkit-input-placeholder {
    text-indent: 300px;
    transition: text-indent 0.8s ease;
}
.header__search-box:focus::-moz-placeholder {
    text-indent: 300px;
    transition: text-indent 0.8s ease;
}
.header__search-box:focus:-moz-placeholder {
    text-indent: 300px;
    transition: text-indent 0.8s ease;
}
.header__search-box:focus:-ms-input-placeholder {
    text-indent: 300px;
    transition: text-indent 0.8s ease;
}
.svg-icon {
    fill: #A6CAF0;
    margin-right: 10px;
}
.svg-icon:hover {
    fill: rgb(0, 148, 255);
}


.header__btn {
    float: right;
    margin: 0 50px 0 50px;
    padding: 10px 20px;
    display: block;
}


.header__scl-media {
    color: white;
    vertical-align: top;
    float: right;
    height: 45px;
    width: 135px;
    position: relative;
}
.header__scl-media a {
    color: white;
    text-decoration: none;
}
.header__scl-media .scl-outside {
    display: inline-block;
    height: 42px;
    overflow: hidden;
    text-align: center;
    vertical-align: top;
    width: 42px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    transition: 0.6s ease width;
    -moz-transition: 0.6s ease all;
    -webkit-transition: 0.6s ease all;
}
.header__scl-media .scl-text {
    font-size: 25px;
    height: 100%;
    padding-top: 9px;
    font-weight: 700;
    z-index: 100;
    display: block;
    position: absolute;
    width: 100%;
    transition: all 0.0s ease;
    transition-delay: 0.4s;
}
.header__scl-media .scl-click {
    opacity: 0;
    padding: 3px 10px 5px;
    margin: 0 auto;
    z-index: 99;
    display: block;
    position: absolute;
    width: 100%;
}
.header__vk .scl-click {
    padding: 10px 10px 5px;
}
.header__fb {
    background: #455F9A;
    margin-bottom: 2px;
    position: absolute;
    top: 0;
    left: 0;
}
.header__twitter {
    background: #11C1FF;
    margin-bottom: 2px;
    position: absolute;
    top: 0;
    left: 45px;
}
.header__vk {
    background: #4C75A3;
    position: absolute;
    top: 0;
    left: 89px;
}
.scl-outside:hover {
    width: 135px;    
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 42px;
    left: 0;
    z-index: 101
}
.scl-outside:hover .scl-text {
    opacity: 0;
}
.scl-outside:hover .scl-click {
    opacity: 1;
    margin-top:0;
    transition: all 0.0s ease;
    transition-delay: 0.4s;
    z-index: 102
}


/* MAIN PAGE */
/* main content */

.begin-journey {
    background-image: url('../images/content/main-page/road-photo.jpg');
    background-position: 50% 50%;
    background-size: 100%;
    background-repeat: no-repeat;
    color: white;
    width: 100%;
    max-height: 1080px;
    max-width: 1920px;
    font-size: 3.5rem;
    text-align: center;
    margin: 5% 0 5% 0;
    position: relative;
    left: 0;
    right: 0;
}
@media screen and (min-width: 1280px) {
    .begin-journey__content_fhd {
 
    }
}
.begin-journey__content {
    margin-left: 15%;
    margin-right: 15%;
    padding-bottom: 8%;
    padding-top: 8%;
    min-width: 360px;
    text-align: center;
}
.begin-journey__content__text {
    text-shadow: 1px 2px black;
}
.begin-journey__content__btn {
    font-size: 30px;
    display: block;
    margin: 50px auto;
    padding: 10px;
    width: 300px;
}
.map {
    background: white;
    margin-bottom: 20px;
    text-align: center;
    z-index: 20
}
.main h1 {
    color: #204080;
    font-size: 300%;
    text-align: center;
    text-shadow: 1px 1px rgba(255,255,255,.5);
    position: relative;
}
.main h1::before {
    content: '';
    background-color: #204080;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    width: 80%;
}
.main h1::after {
    content: '';
    background-color: #204080;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    top: auto;
    bottom: 0;
    height: 2px;
    width: 80%;
}
.map__frame {
    width: 80%;
    min-height: 500px;
    border: 0;
}
.main-articles {
    background: rgb(0, 127, 127);
    text-align: center;
    margin-top: 20px; 
    padding-bottom: 25px;
    padding-top: 15px; 
}
.art-box {
    display: inline-block;
    margin: 10px 20px;
    position: relative;
    height: 400px;
    width: 400px;
    text-align: center;
    vertical-align: top;
}
.art-box__img {
    width: 400px;
    height: 300px;
    display: block;
    margin: 20px auto;
    position: relative;
    top: 0;
    box-shadow: 2px 2px 4px rgba(0,0,0,.5);
}
.art__ref {
    text-decoration: none;
    color: #A6CAF0;
    font-size: 25px;
    font-weight: bold;
}
.art__ref:hover {
    color: #204080;
}
.subscribe {
    background: url('../images/content/main-page/subscribe.png') no-repeat;
    background-size: cover;
    color: white;
    padding: 5% 12%;
    position: relative;
    max-height: 340px;
    min-height: 250px;
    width: 100%;
}
.subscribe__text {
    font-size: 150%;
    min-width: 360px;
    width: 45%;
}
.subscribe__form {
    min-width: 360px;
    width: 45%;
}
.footer-r1 {
    border-right: 1px solid rgba(0, 0, 0, .3);
    padding: 2% 10%;
    
    width: 30%;
}
#footer__logo {
    text-align: center;
    width: 150px;
}
.footer__nav {
    border-right: 1px solid rgba(0, 0, 0, .3);
    margin: 2%;
    text-align: center;
    width: 30%
}
.share42init {
    margin: 2%;
    text-align: center;
    width: 30%
}
#copyright {
    text-align: center;
    margin: 0;
}

/* PLACE PAGE */

.content {
    color: rgb(35, 35, 35);
    margin: auto;
}
.content__header {
    background: url('../images/content/places/mie/teaser.jpg');
    background-size: cover;
    clear: both;
    height: 50%;
    padding: 10px 10%;
    color: white;
}
.place h1 {
    font-size: 300%;
    margin-bottom: 2.25rem;
}
.place h2 {
    font-size: 250%;
    margin-bottom: 1.25rem;
}
.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    border-radius: 4px
}
.breadcrumb>li {
    display: inline-block
}
.breadcrumb a {
    color: rgba(255,255,255,.5);
    text-decoration: none;
}
.breadcrumb a:hover {
    color: white;
}
.breadcrumb>li+li:before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0"
}
.breadcrumb>.active {
    color: rgba(255,255,255,.5)
}
.content__header__place-parent {
    font-size: 150%;
}
.content__right-aside {
    float: right;
    margin-right: 5%;
    padding: 20px;
    position: relative;
    width: 25%;
    text-align: center;
}
.content__right-aside a {
    display: block;
    margin: 20px 5px;
    color: rgb(0, 127, 127);
}
.aside__articles__links {
    margin: 30px 5px;
    position: relative;
}
.aside__articles__links::after {
    content: "";
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    top: auto;
    bottom: -40px;
    height: 1px;
    width: 90%;
    background: #ccc;
}
.aside__other-places {
    margin: 90px 10px;
}
.aside__other-places a {
    margin-bottom: 30px;
}
a.aside__other-places__img {
    margin-bottom: 0;
    box-shadow: 2px 2px 4px rgba(0,0,0,.5);
}
.aside__other-places img {
    display: block;
    margin: auto;
    width: 250px;
}
a.aside__other-places__txt {
    margin-top: 5px;
}
.content__main-info {
    margin-left: 5%;
    width: 65%;
}
a.aside__other-places__btn {
    background: rgba(0,0,0,0);
    border: 1px solid rgb(0, 148, 255);
    border-radius: 5pxs;
    height: 30px;
    width: 50%;
    margin: 0 auto;
    padding: 5px;
    color: rgb(0, 148, 255);
}
a.aside__other-places__btn:hover {
    background: rgba(0,0,0,0);
    border: 1px solid #204080;
    color: #204080;
}
.nav {
    padding-left: 0;
    list-style: none
}
.nav>li {
    position: relative;
    display: block
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
    color: rgb(0, 148, 255);
}
.nav>li>a:focus,
.nav>li>a:hover {
    text-decoration: none;
    background-color: #eee
}
.nav>li>a>img {
    max-width: none
}
.nav-tabs {
    border-bottom: 1px solid #ddd
}
.nav-tabs>li {
    float: left;
    margin-bottom: -1px
}
.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0
}
.nav-tabs>li>a:hover {
    border-color: #eee #eee #ddd
}
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent
}
.tab-content {
    margin-bottom: 30px;
    margin-top: 85px;
    position: relative;
}
.tab-content>.tab-pane {
    display: none;
}
.tab-content>.active {
    display: block
}
.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear
}
.fade.in {
    opacity: 1
}
.month-blocks {
    height: 100px;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
.segment-graph-item {
    display: inline-block;
    height: 100%;
    vertical-align: top;
    width: 7%;
}
.segment-graph-item--1 .segment-graph__segment {
    border-radius: 4px 0 0 4px;
}
.segment-graph-item--last .segment-graph__segment {
    border-radius: 0 4px 4px 0;
}
.segment-graph__segment {
    opacity: 0.9;
    position: relative;
    height: 75%;
}
.segment-graph__segment--subduedgray {
    background: #dbe6ec;
}
.segment-graph__segment--softgreen {
    background: #c7e6aa;
}
.segment-graph__segment--softblue {
    background: #8abee5;
}
.segment-graph__label {
    font-size: 13px;
    font-size: 0.92857rem;
    color: #99a9b3;
    height: 25%;
    font-weight: bold;
    text-align: center;
}
.copy--h4 {
    font-size: 16px;
    font-size: 1.14286rem;
    font-size: 1em;
    font-weight: bold;
    color: #297CBB;
}
.climate--map--portrait .seasonal__col-header {
    margin-bottom: 10px;
    margin-top: 30px;
}
.seasonal__col-header:before {
    height: 14px;
    width: 14px;
    content: "";
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
}
.seasonal__col-header--low:before {
    background: #dbe6ec;
}
.seasonal__col-header--shoulder:before {
    background: #8abee5;
}
.seasonal__col-header--high:before {
    background: #c7e6aa;
}
.what-to-do {
    position: relative;
    vertical-align: middle;
}
.hor-2 {
    height: 275px;
    width: 49%;
    display: inline-block;
    position: relative;
    top: 0;
    left: 0;
    text-align: center;
    box-shadow: 2px 2px 4px rgba(0,0,0,.5);
}
.what-to-do-1 {
    background: url('../images/content/places/mie/grand-shrine-of-ise_1.jpg') 50% 50% no-repeat;
    background-size: cover;
}
.what-to-do-2 {
    background: url('../images/content/places/mie/iga045.jpg') 50% 50% no-repeat;
    background-size: cover;
}
.what-to-do-3 {
    background: url('../images/content/places/mie/meoto-iva-003.jpg') 50% 50% no-repeat;
    background-size: cover;
}
.what-to-do-4 {
    background: url('../images/content/places/mie/japan.jpg') 50% 50% no-repeat;
    background-size: cover;
}
.what-to-do__txt,
.what-to-do__txt2,
.what-to-do__txt3 {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    z-index: 0;
}
.what-to-do-1:hover .what-to-do__txt,
.what-to-do-2:hover .what-to-do__txt,
.what-to-do-3:hover .what-to-do__txt,
.what-to-do-4:hover .what-to-do__txt {
    display: inline-block;
    position: absolute;
    left: 0;
}
.photo img {
    width: 100%;
}
.content__details {
    margin-left: 5%;
    width: 65%;
}