// COUNTRY PAGE

// General
.country__content {
    color: $font-color;
    a {
        text-decoration: none;
    }
}

// Carousel
.country__content .carousel-control {
    opacity: 0;
    z-index: -1;
}
.country__header {
    height: 90vh;
    max-height: 80rem;
    margin-top: 20px;
    overflow: hidden;
    position: relative;
    text-align: center;
    h1 {
        top: 300px;
        font-size: 120px;
        font-weight: 700;
    }
    .carousel-caption {
        top: 420px;
        font-style: italic;
    }
}
.country__header,
.country__breadcrumb {
    color: #fff;
    text-shadow: 0 1px 2px opacify($grey, .2);
} 
.country__header h1,
.country__breadcrumb,
.country__header .carousel-caption {
    position: absolute;
    right: 15%;
    left: 15%;
    z-index: 10;
}

.country__breadcrumb {
    top: 260px;
    font-size: 1.4rem;
    text-transform: uppercase;
    
    a {
        color: inherit;
    }
}

.country-cities__btn {
    position: absolute;
    top: 500px;
    left: calc(50% - 60px);
    width: 120px;
    z-index: 10;
    padding: 10px 15px;
    font: 700 1.1rem $main-font;
    text-transform: uppercase;
    outline: 0;
    .glyphicon-chevron-down {
        left: 4px;
        font-size: 12px;
        margin-top: 4px;
        float: right;
        color: inherit;
    }
}

// Top cities
.top-cities {
    position: fixed;
    left: 0;
    right: 0;
    bottom: -100vh;
    width: 100%;
    background: white;
    opacity: 0;
    @include transition(bottom .4s, opacity .4s);

    &_visible {
        bottom: 0;
        opacity: 1;
        z-index: 9999;
    }
    &_visible &__close {
        top: -7.2rem;
        @include transition(top .4s .7s, opacity .4s .7s);
        span {
            position: absolute;
            @include box(2.5rem, 3px);
            background: opacify($grey, .3);
            left: 1.3rem;
            &:nth-child(1) {
                @include transform(rotate(225deg));
            }
            &:nth-child(2) {
                @include transform(rotate(-225deg));
            }
        }
    }
    &__close {
        position: absolute;
        top: 0;
        left: calc(50% - 2.5rem);
        cursor: pointer;
        outline: 0;
        z-index: 9998;
        @include box(5rem);
        border: 0;
        border-radius: 50%;
        background: white;
    }
    &__content {
        position: relative;
        background: white;
        z-index: 9999;
    }
    &__wrap {
        @include display-flex;
        @include justify-content(center);
        width: inherit;
        padding: 4rem 6rem 6rem;
    }
}
.top-list {
    width: 100%;
    max-width: 35rem;
    counter-reset: top-list;
    h2 {
        font-size: 1.2rem;
        font-weight: 400;
        text-transform: uppercase;
    }
    &__content {
        position: relative;
        padding-right: 45%;
    }
    &__three__item {
        height: $top-list-icon-height;
        margin-bottom: 10px;
    }
    a {
        position: relative;
    }
    &__three__link {
        display: block;
        height: inherit;
        padding-left: 8rem;
        @include link;
    }
    &__icon {
        position: absolute;
        top: 0;
        left: 0;
        @include box($top-list-icon-width, $top-list-icon-height);
    }
    &__three__item:nth-of-type(1) &__icon {
        @include background('../images/content/places/tokyo/tokyo-icon.jpg');
    }
    &__three__item:nth-of-type(2) &__icon {
        @include background('../images/content/places/kyoto/kyoto-icon.jpg');
    }
    &__three__item:nth-of-type(3) &__icon {
        @include background('../images/content/places/osaka/osaka-icon.jpg');
    }
    &__marker {
        top: $top-list-icon-height/2 - $top-list-marker-size/2;
        left: $top-list-icon-width - $top-list-marker-size/2;
        @include box($top-list-marker-size);
        font-size: 1rem;
        @include marker-counter(absolute, top-list);
    }
    &__title {
        padding-top: 1rem;
    }
    &__subtitle {
        color: $grey;
    }
    &__others {
        position: absolute;
        top: 0;
        right: 0;
        @include box(30%, $top-list-icon-height*3 + 30px);
        font-size: .8rem;
        
        li {
            position: relative;
            padding-bottom: 1.3rem;
            &::before {
                content: counter(top-list) ".";
                counter-increment: top-list;
                position: absolute;
                top: -.1rem;
                left: -2rem;
                color: $grey;
                font: .8rem $secondary-font;
            }
        }
        &__link {
            @include link;
        }
    }
    &__more {
        display: block;
        margin-top: 15px;
        @include link-upper-chevron-right;
    }
}

// Page navigation

.sub-nav {
    @include display-flex;
    height: 5rem;
    @include block;
    &__wrap {
        @include block-wrap;
    }
    &__list {
        @include display-flex;
        @include align-items(center);
        @include justify-content(center);
        height: 100%;
    }
    li {
        padding: 0 1.5rem;
        text-align: center;
        white-space: nowrap;
        
        a {
            @include link;
            font-size: 0.8rem;
            text-transform: uppercase;
        }
    }
}

// Intro

.intro {
    @include block;
    text-align: center;
    &__wrap {
        @include block-wrap;
        padding: $block-padding-top 5rem;
    }
    & &__header {
        @include heading-red-stripe;
    }
    & &__text {
        max-width: 86%;
        margin: 0 auto 5rem;
        font-size: 1.2rem;
        text-align: inherit;
        >span {
            font-style: italic;
        }
        a {
            font-size: 1rem;
            @include link-upper-chevron-right;
        }
    }
    &__author {
        display: inline-block;
        @include link;
        &__img {
            @include box(80px);
            margin-bottom: 2rem;
            border-radius: 50%;
            @include transition(transform .4s);
        }
        &:hover img {
            @include transform(scale(1.1));
        }
        &__credits__name {
            text-transform: uppercase;
        }
        &__credits__profession {
            font-style: italic;
            color: $grey;
        }
    }
}

// Experiences
.experiences {
    @include block;
    &__wrap {
        padding: $block-padding-top 0;
    }
    & &__header {
        @include heading-red-stripe;
        
    }
    &__carousel {
        margin: 0 -.4%;
    }
    &__list {
        margin: 0 -.4%;
        counter-reset: top-experiences;
    }
    &__item {
        width: 23.5%;
        margin: 0 .4%;
    }
    .image-card {
        position: relative;
        display: block;
        width: 100%;
        &__image {
            padding-top: 150%;
        }
        &__description {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            min-height: 11rem;
            padding: 0 1.2rem 1.8rem;
            @include background-image(linear-gradient(0deg, opacify($grey, 0.1) 0, transparent));
            color: white;
            font-size: 1.8rem;
            text-align: center;
        }
        &__marker {
            @include box($top-experiences-marker-size);
            margin: 1rem auto;
            color: $font-color;
            font-size: 1.6rem;
            line-height: $top-experiences-marker-size;
            @include marker-counter(relative, top-experiences);
        }
        &__subtitle {
            font-size: 0.9rem;
            font-style: italic;
        }
        &__title {
            margin-bottom: 0;
            font-size: 1.1rem;
            font-weight: 400;
            line-height: 1.1em;
            text-transform: uppercase;
        }
    }
    &__item:nth-of-type(1) .image-card__image {
        @include background('../images/content/countries/japan/96681879.jpg');
    }
    &__item:nth-of-type(2) .image-card__image {
        @include background('../images/content/countries/japan/antonina-bukowska-140309.jpg');
    }
    &__item:nth-of-type(3) .image-card__image {
        @include background('../images/content/countries/japan/GettyImages-173253572_super.jpg');
    }
    &__item:nth-of-type(4) .image-card__image {
        @include background('../images/content/countries/japan/148913389_full.jpg');
    }
    &__item:nth-of-type(5) .image-card__image {
        @include background('../images/content/countries/japan/Nakasendo_between_Tsumago_and_Magome_-_Nov_2005.jpg');
    }
    &__item:nth-of-type(6) .image-card__image {
        @include background('../images/content/countries/japan/af49aa71df91ddc42495cdfc0c75f833-todai-ji.jpg');
    }
    &__item:nth-of-type(7) .image-card__image {
        @include background('../images/content/countries/japan/497079645_super.jpg');
    }
    &__item:nth-of-type(8) .image-card__image {
        @include background('../images/content/countries/japan/Asashoryu_fight_Jan08.jpg');
    }
    &__item:nth-of-type(9) .image-card__image {
        @include background('../images/content/countries/japan/38553070.jpg');
    }
    &__item:nth-of-type(10) .image-card__image {
        @include background('../images/content/countries/japan/604dd05340fc057286ef8c795f9be58b-naoshima.jpg');
    }
    &__item:nth-of-type(11) .image-card__image {
        @include background('../images/content/countries/japan/CA25843_full.jpg');
    }
    &__item:nth-of-type(12) .image-card__image {
        @include background('../images/content/countries/japan/436161016_1280x720.jpg');
    }
    &__item:nth-of-type(13) .image-card__image {
        @include background('../images/content/countries/japan/3741881483_f75daf1ebe_b.jpg');
    }
    &__item:nth-of-type(14) .image-card__image {
        @include background('../images/content/countries/japan/300086a55082864349d99e09747e0445-sapporo-hokkaido.jpg');
    }
    &__item:nth-of-type(15) .image-card__image {
        @include background('../images/content/countries/japan/Fusaki-Beach_Ishigaki_Okinawa_Japan.jpg');
    }
    &__item:nth-of-type(16) .image-card__image {
        @include background('../images/content/countries/japan/62dbe2f9590290266d37dadc23b572e0-dotombori-arcade.jpg');
    }
    &__item:nth-of-type(17) .image-card__image {
        @include background('../images/content/countries/japan/GettyImages-sb10066488ak-001_super.jpg');
    }
    &__item:nth-of-type(18) .image-card__image {
        @include background('../images/content/countries/japan/558228493_master.jpg');
    }
    &__item:nth-of-type(19) .image-card__image {
        @include background('../images/content/countries/japan/520847505_master.jpg');
    }
    &__item:nth-of-type(20) .image-card__image {
        @include background('../images/content/countries/japan/GettyImages-109355465_super.jpg');
    }
}