// Fonts
$main-font: 'PT Sans', Helvetica, sans-serif;

// Colors
$main-blue: rgb(0, 148, 255);
$main-green: rgb(0, 127, 127);
$dark-blue: #204080;
$light-blue: #A6CAF0;
$subduedgray: #dbe6ec;
$softblue: #8abee5;
$softgreen: #c7e6aa;

// Sizes
$medium-screen: 720px;
$large-screen: 1200px;
$max-page-width: 1600px;
$search-icon-size: 25px;